* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    & a {
        text-decoration: none;
        color: inherit;
    }

    & li {
        list-style: none;
    }
}

body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(90deg, #003D4D 0%, #00C996 100%);
    min-height: 100vh;
    font-weight: 700;
    line-height: 28px;
    color: #FAFAFA;
}

.navbar {

    background: linear-gradient(90deg, #003D4D 0%, #00C996 100%);
    /* background: #003D4D; */
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 6em;
    color: #fff;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;

    & h1 {
        text-shadow: -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
        padding: 5px;
        font-size: 2em;
        mix-blend-mode: normal;
    }

    & img {
        max-width: 150px;
    }
}

.menu1 {
    display: flex;
    align-items: flex-end;
    padding-right: 12%;
    justify-content: flex-end;
    color: #003D4D;

    & li {
        text-decoration: none;
        display: inline;
        margin: 0 1em 0 1em;
    }

    & a {
        background: #12FCB6;
        padding: .8em 2em;
        border-radius: 10px;
        margin: 0 1em 0 1em;
    }

    & a:hover {
        text-decoration: underline;
    }

    & form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        text-shadow: -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
        font-size: 1.4em;
        font-weight: 700;
        color: #FAFAFA;
    }

    & button:hover {
        color: orange;
    }

    & input {
        padding: 1em 2em 1em 2em;
        border-radius: 5px;
        border: none;
        outline: none;
    }
}

.main {
    background-color: #00C996;
    width: 100%;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-family: 'Raleway';
}

.menuizquierdo {
    background-color: none;
    padding: 1%;
    /* position: absolute; */
    width: 300px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    float: left;
    text-align: center;
}

.menuizquierdo h2 {
    color: #00FC0A;

}

.menuizquierdo h3 {
    color: #00FC0A;
}

.menuderecho div {
    border: 1px solid black;
}

.menuderecho a {
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    color: #00FC0A;
}

.pie-pagina {
    width: 100%;
    background-color: #59cce925;
    display: flex;

    & h3 {
        color: #111;
    }

    & a:hover {
        color: #003D4D;
    }
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 40px 0px;
}

.menu2 li a {
    text-decoration: none;
    color: #F8EEEE;
}

.menu2 li {
    text-decoration: none;
    margin-right: 1px;
    background: none;
    border-radius: 15px;
    padding: 1%;
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 21px;
}

.menu2 li a:hover {
    color: orange;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

thead {
    background-color: cornflowerblue;
}

tbody tr:nth-child(odd) {
    background-color: aliceblue;
    color: darkgreen;
}

tbody tr:nth-child(even) {
    background-color: #FAFAFA;
    color: darkgreen;
}