* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    & a {
        text-decoration: none;
        color: inherit;
    }

    & li {
        list-style: none;
    }
}


body {
    margin-top: 5em;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(90deg, #003D4D 0%, #00C996 100%);
    min-height: 100vh;
    font-weight: 700;
    line-height: 28px;
    color: #FAFAFA;

}

/* INICIO Estilo de la barra de navegacion */
.navbar {

    background: linear-gradient(90deg, #003D4D 0%, #00C996 100%);
    /* background: #003D4D; */
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 6em;
    color: #fff;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;

    & h1 {
        text-shadow: -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
        padding: 5px;
        font-size: 2em;
        mix-blend-mode: normal;
    }

    & img {
        max-width: 150px;
    }
}

.menu {
    display: flex;
    gap: 2em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #003D4D;

    & a:hover {
        text-decoration: underline;
    }
}

/* FIN Estilo de la barra de navegacion */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.container .title {
    text-align: center;
    text-shadow: -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    padding: 5px;
    font-size: 2em;
    mix-blend-mode: normal;
}

.container .productos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.container .productos-container .product {
    text-align: center;
    padding: 3rem 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    outline: .1rem solid #003D4D;
    outline-offset: -1.5rem;
    cursor: pointer;
    border-radius: 10px;
}

.container .productos-container .product:hover {
    outline: .2rem solid #003D4D;
    outline-offset: 0rem;
}

.container .productos-container .product img {
    height: 10rem;
}

.container .productos-container .product:hover img {
    transform: scale(.9);
}

.container .productos-container .product h3 {
    padding: .5rem;
    font-weight: 500;
    color: #F9F4F4;
}

.container .productos-container .product .precio {
    font-weight: 600;
    padding: .5rem;
    color: #FFFFFF;
}

.container .productos-container .product .boton {
    color: #0c0c0c;
    background-color: crimson;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
}

.pie-pagina {
    width: 100%;
    background-color: #59cce925;
    border: 0%;
    display: flex;

    & h3 {
        color: #111;
    }

    & a:hover {
        color: #003D4D;
    }
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 40px 0px;
}